table.dark {
  width: 20%;
  border-collapse: collapse;
  background-color: #FFFFFF;
  color: #eee;
  font-family: sans-serif;
}

table.dark th, table.dark td {
  padding: 12px;
  border: 1px solid #444;
}

table.dark th {
  background-color: #545EAD;
}

table.dark tr:hover {
  background-color: #6C7AE0;
}
